@using Domains.ViewModels
@using Web.Utilies
@model PasswordListModel;
@{
    ViewData["Title"] = "Password List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<h1 class="display-4 text-primary text-center font-weight-bold">Password List</h1>
<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <input type="text" name="serviceName" value="@Model.SearchModel.ServiceName" class="form-control" placeholder="Service Name" aria-label="Service Name" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
    </div>
</form>

<div class="row d-flex mb-2">
    @foreach(var passwordInfo in Model.PasswordInfos) {
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header text-center">
                    <h3>
                        @passwordInfo.ServiceName
                    </h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Login: @passwordInfo.Login</h4>
                    <p class="card-text">Description: @passwordInfo.Description</p>
                    <input type="password" id="inputField_@i" class="form-control" autocomplete="Confirm Code" aria-required="true" placeholder="Confirm Code" />
                    <h4 id="password_@i" class="card-text hidden text-center">@passwordInfo.Password</h4>
                </div>
                <div class="card-footer justify-content-center">
                    <a id="edit_@i" class="text-decoration-none text-white mx-1 hidden" asp-action="Update" asp-route-id="@passwordInfo.Id">
                        @Html.EditIcon(28, 28)
                    </a>
                    <a id="delete_@i" class="text-decoration-none text-white mx-1 hidden" asp-action="Delete" asp-route-id="@passwordInfo.Id">
                        @Html.DeleteIcon(28, 28)
                    </a>
                </div>
            </div>
        </div>
        i++;
    }
</div>
</h1>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var inputCount = @Model.PasswordInfos.Count();
        for (var i = 1; i <= inputCount; i++) {
            var inputField = document.getElementById('inputField_' + i);
            var editButton = document.getElementById('edit_' + i);
            var deleteButton = document.getElementById('delete_' + i);
            var passwordLabel = document.getElementById('password_' + i);
            inputField.addEventListener('input', createInputHandler(inputField, passwordLabel, editButton, deleteButton));
        }
    });

    function createInputHandler(inputField, passwordLabel, editButton, deleteButton) {
        return function () {
            if (inputField.value.trim() == @Model.ConfirmCode) {
                passwordLabel.classList.remove('hidden');
                editButton.classList.remove('hidden');
                deleteButton.classList.remove('hidden');
                inputField.classList.add('hidden');
            }
        };
    }
</script>